<div>

  <!-- filter table -->
  <table border="1" [cellSpacing]="0" [cellPadding]="15">
    <thead>
      <tr>
        <td></td>
        <td *ngFor="let group of itemGroups">
          {{group}}
          <input type="checkbox" checked="true" (change)="onFilterControlChange($event, group, '*')" />
        </td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let score of itemScores">
        <td>{{score}}</td>
        <ng-container *ngFor="let group of itemGroups">
          <td>
            {{getScoreCountByGroup(score, group)}}
            <input type="checkbox" checked="true" (change)="onFilterControlChange($event, group, score)" />
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>

  <div style="margin:50px;"></div>

  <!-- main table -->
  <table border="1" [cellSpacing]="0" [cellPadding]="15">
    <thead>
      <tr>
        <td></td>
        <ng-container *ngFor="let group of itemGroups">
          <ng-container *ngIf="canDisplayGroup(group)">
            <td colspan="2">{{group}}</td>
          </ng-container>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <ng-container *ngFor="let group of itemGroups">
          <ng-container *ngIf="canDisplayGroup(group)">
            <td>Feature</td>
            <td>Score</td>
          </ng-container>
        </ng-container>
      </tr>
      <ng-container *ngFor="let item of items">
        <tr *ngIf="canDisplayItem(item)">
          <td>{{item.name}}</td>
          <ng-container *ngFor="let group of itemGroups">
            <ng-container *ngIf="canDisplayGroup(group)">
              <td>
                {{getFeatureNameByGroup(item, group)}}
              </td>
              <td>
                {{getFeatureScoreByGroup(item, group)}}
              </td>
            </ng-container>
          </ng-container>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
